[Desktop Entry]
Type=Application
Name=Omarchy Terminal
Exec=omarchy-launch-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
X-TerminalArgExec=-e
X-TerminalArgTitle=--title
X-TerminalArgAppId=--app-id
X-TerminalArgDir=--working-directory
